@backColor: #dff3f7;
@borderColor: darken(@backColor, 25%);

.row-days {
  background-color: @backColor;
  border-top: 1px solid @borderColor;
  border-bottom: 3px solid @borderColor;

  div:nth-child(2) {
    border-left: 2px solid @borderColor;
  }

  div:last-child {
      border-right: none;
  }

  .col-day {
    border-right: 1px solid @borderColor;
  }
}

.col-day {
}

.col-day-right{
    border-right: 1px solid @borderColor;
}

.col-project {
}

.today {
  font-weight: bolder;
  background-color: darken(@backColor, 5%);
}
