@import '../../../app.component.less';

@borderColor: darken(@colorD, 10%);

.row-days {
  background-color: @colorD;
  border-top: 1px solid @borderColor;
  border-bottom: 3px solid @borderColor;

  div:nth-child(2) {
    border-left: 2px solid @borderColor;
  }

  div:last-child {
    border-right: none;
  }

  .col-day {
    border-right: 1px solid @borderColor;
  }
}

.col-day {
    //color: darken(@textColor, 10%);
    color: white;
}

.col-day-right{
    border-right: 1px solid @borderColor;
}

.col-project {
    color: white;
}

.today {
  font-weight: bolder;
  background-color: darken(@colorD, 10%);
}

.day-weekend {
  background-color: @colorC;
  color: white;
}

.border-weekend {
  border-right: 1px solid darken(@colorC, 15%) !important;
}
