<p-menubar [model]="items" styleClass="mainmenu">
  <ng-template pTemplate="start">
    <a class="navbar-brand" [routerLink]="'/'"><img src="./assets/tk3Logo.png" width="30" height="30" class="mr-2" alt="{{title}}" />{{title}}</a>
  </ng-template>
  <ng-template pTemplate="end">
    <div *ngIf="auth.getIsAuthenticated()">
      <p-menu #menu [popup]="true" [model]="userItems"></p-menu>
      <button type="button" pButton icon="pi pi-list" label="show" class="btn btn-outline-primary" (click)="menu.toggle($event)">{{userButtonText}}</button>
    </div>
    <div *ngIf="!auth.getIsAuthenticated()">
      <form class="form-inline mt-2 mt-md-0"
            #loginForm="ngForm"
            (ngSubmit)="login(loginForm)"
            autocomplete="off">
        <input [(ngModel)]="model.userName"
               class="form-control me-1 mr-1"
               type="text"
               name="userName"
               placeholder="Username"
               aria-label="Username">
        <input [(ngModel)]="model.password"
               class="form-control me-1 mr-1"
               type="password"
               name="password"
               placeholder="Password"
               aria-label="Password">
        <button class="btn btn-outline-success" type="submit">Login</button>
        <button class="btn btn-outline-primary" type="button" [routerLink]="'/auth/user/create'">Create</button>
      </form>
    </div>
  </ng-template>
</p-menubar>
